<header>
	 <div class="site-title-container">
        <a href="/"><img id= "site-title-img" src="fotos.png" alt="fotos" /></a>
        <div class="motto">
				<i>You're site to share photos and comment anonymously!</i>
        </div>
      </div>
</header>
