<main class="content">
      <section id="images">

          {{#each posts}}
			       {{> foto}}
		      {{/each}}



      </section>

      <div class="filter">
        <button onclick="filterFunction()" class="filter-button">Filter</button>
          <div id="myfilter" class="filter-content">
            <a href="#old">Old</a>
            <a href="#new">New</a>
            <a href="#popular">Popular</a>
          </div>
        </div>







      <aside class="search-container">
			<a class = "module-title" id="search-title">search</a>
			<div class="filter-input-container">
				<label for="filter-text" class="filter-input-label">Post Name</label>
				<input type="text" name="filter-text-name" id="filter-text" class="filter-input">
            </div>

			<section id = "tags">
				  <div class = "tag">
  					 <input type="checkbox" id="cat" name="cat">
  					 <label for="gaming">Cat</label>
			</section>

			<div class="filter-input-container">
				<label for="filter-text" class="filter-input-label">Date Posted</label>
				<input type="text" name="filter-text-date" id="filter-date" class="filter-input" placeholder="ex. xx/xx/xxxx">
            </div>

			<button id="filter-update-button" class="action-button">Update</button>
		</aside>

		<button id= "newpost-button" class="action-button">New Post</button>

		<aside class = "newpost-container" id = "newpost-container" visibility : hidden>


			<div class="newpost-input-container">
				<label for="newpost-text" class="filter-input-label">Post Name</label>
				<input type="text" name="newpost-name" id="newpost-text-name" class="newpost-input">
            </div>
			<div class="newpost-input-container">
				<label for="newpost-text" class="filter-input-label">img url</label>
				<input type="text" name="newpost-url" id="newpost-text-imgURL" class="newpost-input">
            </div>
			<a id= "tag_title">tags</a>
			<section id= "tags">
				<div class = "tag">
  					 <input type="checkbox" id="cat" name="cat">
  					 <label for="gaming">Cats</label>

  				 </div>
				 <button id= "add-tag-button" class="action-button">New tag</button>
			</section>

			<button id= "cancel-button" class="action-button">cancel</button>

			<button id= "post-button" class="action-button">Post</button>

			<section id = "tag-add" visibility : hidden >
				<div class="newpost-input-container">
					<label for="newpost-text" class="filter-input-label">New Tag</label>
					<input type="text" name="newpost-name" id="newpost-text" class="newpost-input">
				</div>

				<button id= "newtag-button" class="action-button">Add tag</button>
				<button id= "cancel-newtag-button" class="action-button">Cancel Tag</button>
			</section>
		</aside>

    </main>
