body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #484848;


}

.site-title {
  font-family: "Rubik", serif;
  font-size: 60px;
  margin: 0 0 0 10px;
  color: #484848;
}

.content {
  display: inline;

}

.image {
  display: inline-block;
  vertical-align: top;

  height: 600px;
  width: 750px;
  margin: 5px;
  padding: 5px;
  border: .5px;
  border-style: groove;
  border-radius: 6px;

}

.image-contents img {
  max-height: 100%;
  max-width: 100%;
  align-items: center;
}


.image-info-container {
  width: 100%;
}

.image-date {
  margin-right: -5px;
}
