body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  background-color: #9ef3c4;
}

a {
  text-decoration: none;
  color: #484848;
}
#site-title-img{
	width:150px;
	height:150px;
}
header{
	background-color: #b9ff91;
	border-bottom: 1px solid black;

}
h2{
  font-size: 72px;
  text-align: center;
  margin-bottom: 0px;
}
h3 {
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
}

#site-title-img{
	width:150px;
	height:150px;
}

header{
	background-color: #cef5e0;
	border-bottom: 5px solid #ddf9e9;
}
.content {
  display: inline;
}

.image {
  margin: 5px;
  background-color: #cef5e0;
  display: block;
  vertical-align: top;
  height: 475px;
  height: auto;
  width: 575px;
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
  border: 1px;
  border-style: outset;
  border-radius: 6px;

}

.image-contents img {
  height: 100%;
  width: 100%;
  max-height: 300px;
  max-width: 600px;
  object-fit: cover;
  align-items: center;
}


.image-info-container {
  width: auto;
  border-radius: 6px;
  padding: 10px;
  background: #bedecc;
  border-color: #9abba9;
  border-style: outset;
  margin: 10px;
}

.image-date {
  font-size: 12px;
  margin: 7px;
}
.image-info-container-tags-dates{
  font-size: 13px;
  color: #4eb560;
}
.image-title{
  font-size: 23px;
  color: #436d56;
  font-weight: 900;
}


.filter-input{
	width:120px;

}

.search-container{
display:block;
margin:20px;
border: 1px;
width: 150px;
height: 310px;
text-align:center;
padding:5px;
background-color: #cef5e0;
border-radius: 10px;
top:25%;
right:85%;
position:fixed;
}
.tag{
  overflow: auto;
  width:100px;
  height:30px;
  margin:auto;
  border-left: 1px solid #c4e2d2
  ;border-right: 1px solid #c4e2d2;
}
.filter-input-container{
	margin-top: 5px;
	margin-bottom: 5px;

}
.module-title{
	font-size:30px
}
#filter-update-button{
	background-color:#45eb90;
	border-radius:5px;
	width:140px;
	height:25px;
  border: 1px ;
  cursor: pointer;
}
#filter-update-button:active{
	background-color: #436d56;
	color:white
}
#add-comment-input{
	width: 530px;
	margin-bottom: 5px;
	background-color: #e9f7ef;
}

#comment-button {
  background-color: #45eb90;
  width: 100px;
  height: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}
#comment-button:active{
	background-color: #436d56;
	color:white
}

#filter-update-button:active{
transform: translateY(1px);

}
.newpost-container{
margin:20px;
border: 1px ;
width: 150px;
text-align:center;
padding:5px;
background-color: #cef5e0;
border-radius: 10px;
position:fixed;
top:25%;
left:85%

}
#newpost-button{
border-radius:5px;
	background-color:#45eb90;
	border: 1px;
	width:160px;
	height:40px;
	margin-left:20px;
	position:fixed;
	top:25%;
	left:85%

}
.newpost-input-container{
	margin-top: 5px;
	margin-bottom: 5px;

}
.newpost-input{
 width:100px;
}

#newpost-button{
	border-radius:5px;
	background-color:#cef5e0;
	border: 1px;
	width:160px;
	height:40px;
  margin-left:20px;
  cursor: pointer;
}
#post-button{
	background-color:#45eb90;
	border-radius:5px;
	width:140px;
	height:25px;
	border: 1px;
  margin: auto;
  cursor: pointer;
}
#post-button:active{
transform: translateY(1px);
background-color: #436d56;
color:white;
}
#cancel-button{
  background-color:#45eb90;
  border-radius:5px;
  width:50px;height:25px;
  border: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
#cancel-button:active{
transform: translateY(1px);
background-color: #436d56;
color:white;
}

#add-tag-button{
background-color:#45eb90;
	border-radius:5px;
	width:80px;
	height:20px;
	border: 1px;
	margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;

}
#add-tag-button:active{
transform: translateY(1px);
background-color: #436d56;
color:white;

}
#newtag-button{
  background-color:#45eb90;
  border-radius:5px;
  /* width:80px; */
  height:20px;
  height: 25px;
  border: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}
#newtag-button:active{
  background-color: #436d56;
  color:white;
}
#cancel-newtag-button{
  background-color:#45eb90;
  border-radius:5px;
  height: 25px;
  border: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}
#cancel-newtag-button:active{
  background-color: #436d56;
  color:white;
}


.filter-button {
  background-color: #ddf9e9;
  color: rgb(0, 0, 0);
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  
}

.filter-button:hover, .filter-button:focus {
  background-color: #8dcaa6;
  color: rgb(255, 255, 255);
}

.filter {
 position: absolute;
  display: inline-block;
  top:13.40%;
  left:80%;
}

.filter-content {
  display: none;
  position: absolute;
  background-color: #bedecc;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.filter-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.filter a:hover {
  background-color: #6a9e81;
  color: rgb(255, 255, 255);
}

.site-title-container {
  display: inline;
  font-size: 20px;
  padding: 10px;
}

.show {display: block;
}
input[type=text] {
  background-color: #ffffff;
  border-style:none;
  height: 18px;
  border-radius: 5px;
}
